{
  "presets": [
    "babel-preset-react-native-stage-0/decorator-support"
  ],
  "plugins": [
    "transform-inline-environment-variables"
  ],
  "env": {
    "development": {
      "plugins": [
        "transform-react-jsx-source",
        [
          "module-resolver",
          {
            "root": ["build"],
            "extensions": [".js", ".ios.js", ".android.js"]
          }
        ]
      ]
    }
  }
}